# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/bundle
# misc
.DS_Store

# ide
.vscode
.idea
tempAsset
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
logs
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/chrome
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/chrome_100_percent.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/chrome_200_percent.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/chrome_crashpad_handler
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/chrome_sandbox
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/chrome-wrapper
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/icudtl.dat
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/libEGL.so
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/libffmpeg.so
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/libGLESv2.so
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/libvk_swiftshader.so
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/libvulkan.so.1
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/product_logo_48.png
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/README
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/resources.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/v8_context_snapshot.bin
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/vk_swiftshader_icd.json
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/xdg-mime
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/xdg-settings
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/WidevineCdm/LICENSE
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/WidevineCdm/manifest.json
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/WidevineCdm/_platform_specific/linux_x64/libwidevinecdm.so
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/af.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/am.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ar.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/as.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/az.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/be.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/bg.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/bn.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/bs.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ca.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/cs.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/cy.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/da.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/de.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/el.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/en-GB.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/en-US.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/es-419.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/es.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/et.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/eu.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/fa.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/fi.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/fil.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/fr-CA.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/fr.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/gl.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/gu.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/he.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/hi.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/hr.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/hu.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/hy.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/id.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/is.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/it.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ja.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ka.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/kk.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/km.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/kn.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ko.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ky.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/lo.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/lt.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/lv.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/mk.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ml.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/mn.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/mr.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ms.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/my.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/nb.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ne.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/nl.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/or.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/pa.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/pl.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/pt-BR.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/pt-PT.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ro.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ru.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/si.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/sk.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/sl.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/sq.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/sr-Latn.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/sr.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/sv.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/sw.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ta.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/te.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/th.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/tr.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/uk.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/ur.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/uz.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/vi.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/zh-CN.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/zh-HK.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/zh-TW.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/locales/zu.pak
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/resources/accessibility/reading_mode_gdocs_helper_manifest.json
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/resources/accessibility/reading_mode_gdocs_helper/content.js
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/resources/accessibility/reading_mode_gdocs_helper/gdocs_script.js
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/resources/inspector_overlay/inspector_overlay_resources.grd
src/ungoogled-chromium_131.0.6778.244_1.vaapi_linux/resources/inspector_overlay/main.js
